<?xml version="1.0"?>
<!--
  ASP.NET アプリケーションの構成方法の詳細については、
  http://go.microsoft.com/fwlink/?LinkId=169433 を参照してください
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <!--<httpModules>
            <add name="Module1" type="Chat.Web.MyModule, Chat"/>
        </httpModules>-->
    <!--<httpRuntime executionTimeout="5"/>-->
    <!--<httpRuntime maxQueryStringLength="1000000" maxUrlLength="1000000"/>-->
    <!--<customErrors mode="On" redirectMode="ResponseRedirect">
          <error statusCode="404" redirect="http://edu855/default.aspx"/>
      </customErrors>-->
    <httpRuntime maxRequestLength="10240"/>
    <globalization uiCulture="en-US"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <system.webServer>
    <staticContent>
      <!--<mimeMap fileExtension=".mp4" mimeType="video/mp4" />-->
      <!--<mimeMap fileExtension=".m4v" mimeType="video/m4v" />-->
      <!--<remove fileExtension=".java"/>
            <mimeMap fileExtension=".java" mimeType="text/plain" />-->
    </staticContent>
    <!--<httpErrors>
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" prefixLanguageFilePath="" path="default.aspx" responseMode="File" />
        </httpErrors>-->
    <!--<security>
            <requestFiltering>
                <fileExtensions allowUnlisted="true">
                    <remove fileExtension=".java"/>
                    <add allowed="true" fileExtension=".java"/>
                </fileExtensions>
            </requestFiltering>
        </security>-->
  </system.webServer>
</configuration>